/* GENERAL */

@font-face 
{
    font-family: 'raleway';
    src: url('font/raleway-bold.eot') format('eot'),
         url('font/raleway-bold.ttf') format('truetype'),
         url('font/raleway-bold.woff') format('woff'),
         url('font/raleway-bold.svg') format('svg');

         font-weight: bold;
}

@font-face 
{
      font-family: 'raleway';
      src: url('font/raleway.eot') format('eot'),
           url('font/raleway.ttf') format('truetype'),
           url('font/raleway.woff') format('woff'),
           url('font/raleway.svg') format('svg');

         font-weight: normal;
         font-style: normal;
         font-variant: normal;
}

body 
{
  font-family: 'raleway', Sans serif;
  margin: 0;
}

.avis 
{
  display: flex;
}
.avis_bleu 
{
  display: flex;
}

.avis_gris 
{
  display: flex;
}

.fa-star 
{
  color: #0065FC;
}

a 
{
  color: #000;
  text-decoration: none;
}

h4 
{
  font-size: 1.1em; 
}


/* EN-TETE */

header 
{
  width: 100%;
  height: 100px;
}

#logo 
{
  margin-right: 130px;
  margin-top: 10px;
  padding-left: 20px;
}

nav 
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#inscription 
{
  color: #0065FC;
  text-decoration: none;
  padding-right: 30px;
  margin-top: 10px;

}

#menu_heb 
{
  border-bottom: 3px solid #F2F2F2;
  width: 50%;
  height: 30px;
  text-align: center;
  margin-top: 20px;
}

#menu_act 
{
  border-bottom: 3px solid #F2F2F2;
  width: 50%;
  height: 30px;
  text-align: center;
  margin-top: 20px;
}

#navigation a 
{
  text-decoration: none ;
  color: #000;
}

#menu_heb:hover, #menu_heb:active 
{
  border-bottom: 3px solid #0065FC;
  color: #0065FC;
}

#menu_act:hover, #menu_act:active 
{
  border-bottom: 3px solid #0065FC;
  color: #0065FC;
}

/* CONTENU PAGE */

.titre_page {
  padding-left: 20px;
}


.titre_page p 
{
  margin-top: -5px;
  margin-bottom: 30px;
}

/* formulaire de recherhe */

#recherche 
{
  display: flex;
  margin-bottom: 40px;

}

#geolocalisation 
{
  background-color: #F2F2F2;
  height: 40px;
  width: 40px;
  border-radius: 8px 0 0 8px;
  text-align: center;
  line-height: 40px;
}


input[type=search]
{
  border-width: 0.2px 0 0.2px 0;
  border-color: #F2F2F2;
  font-family: inherit;
  font-weight: bold;
  color: #000;
  border-style: solid;
  height: 40px;
  text-align: center;
}

button 
{
  border: 0.5px solid #F2F2F2;
  border-radius: 0 8px 8px 0;
  background-color: #0065FC;
  font-family: inherit;
  font-weight: bold;
  color: #fff;
  height: 40px;
  width: 30px;
  margin: -5px;
}

#hidden_text 
{
  display: none
}
/* filtres */


#section_filtres {
  padding-left: 20px;
}

#filtres 
{
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
}


.filtre_curseur 
{
  display: flex;
  margin-top: 10px;
  margin-right: 20px;
}

.bulle_filtre 
{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #DEEBFF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.form_filter 
{
  border: 2px solid #F2F2F2;
  border-radius: 40px;
  box-sizing: border-box;
  height: 40px;
  width: auto;
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 20px;
}

.form_filter:hover 
{
background-color: #0065FC;
color: #fff;
}

.name_filter 
{
  margin-left: 40px;
}

#filtres i 
{
  color: #0065FC;
}

.fa-info {
  color: #0065FC;
}

#informations 
{
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: center;
  padding-left: 20px;
}

#icone_info 
{
  border: 0.5px solid #F2F2F2;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

/* section 1 Les plus populaires */

#titre_pop 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}


#fond_populaire 
{
  background-color: #F2F2F2;
  margin: 5px;
  height: 730px;
}

.fond_vignette_pop 
{ 
  background-color: #fff;
  border-radius: 20px;
  height: 180px;
  width: 93%;
  margin: 0 auto 15px auto;
}

.hebergements_pop 
{
  border-radius: 20px 0px 0px 20px;
  margin: 8px;  
  height: 91%;
  width: 170px;
  object-fit: cover;
  float: left;
}

.description_vignette_pop 
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 170px;
  padding-left: 10px;
  margin-right: 20px;
}

.description_vignette_pop p 
{
  margin-top:-35px;
}

.description_vignette_pop h4 
{
  margin-top: 0;
}

.avis_gris .fa-star 
{
  color: #F2F2F2;
}

/* section 2 Hebergements */

#fond_hebergement 
{
  background-color: #fff;
  margin: 5px;
}

#fond_hebergement h2
{
  margin: 30px 0 0px 30px;
}

#afficher_plus 
{
  padding-left: 25px;
  height: 40px;
  padding-top: 10px;
}

.fond_vignette_heb 
{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 0.5px solid #F2F2F2;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #F2F2F2;
  height: 280px;
  margin: 15px;
}

.hebergements_ville 
{
  border-radius: 20px 20px 0px 0px;
  margin: 10px auto;  
  height: 150px;
  width: 96%;
  object-fit: cover;
}

.description_vignette_heb 
{
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  margin-top: -18px;
}

.description_vignette_heb p 
{
  margin-top: -12px;
}

.fond_vignette_heb .avis
{
    padding-left: 15px;
}


/* section 3 Activites */


#ancre_activite
{
  padding-left: 20px;
}

#fond_activite 
{
  margin: 40px 5px;
}

#fond_activite h2
{
  margin: 30px 15px;
}

.fond_vignette_act_1 
{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 0.5px solid #F2F2F2;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #F2F2F2;
  height: 250px;
  margin: 15px;
}

.fond_vignette_act_2 
{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 0.5px solid #F2F2F2;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #F2F2F2;
  height: 250px;
  margin: 15px;
}

.fond_vignette_act_3 
{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 0.5px solid #F2F2F2;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #F2F2F2;
  height: 250px;
  margin: 15px;
}

.activites_ville 
{
  border-radius: 20px 20px 0px 0px;
  margin: 0px;  
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.description_vignette_act 
{
  padding-left: 15px;
}

.description_vignette_act p 
{
  vertical-align: middle;
  display: table-cell;
  font-weight: bold;
  font-size: 1.1em;
}

.description_vignette_act 
{
  display: table;
  height: 70px;
}

/* PIED PAGE */

footer 
{
  background-color: #F2F2F2;
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 25px;
}

.footer h3 
{
  padding-left: 15px;
  margin-top: 40px;
}

.footer ul 
{
  padding-left: 15px;

}

.footer li 
{
	list-style: none;
  margin-bottom: 10px;
}

.footer li a 
{
  color: #000;
}

.footer 
{
}


/* Nouvelles règles si la fenêtre fait plus de 992px de large */

@media screen and (min-width: 992px)
{

main
{
  padding-right: 10px;
}

/* Menu */

header 
{
  margin-bottom: 40px;
  margin-top: -3px;
  height: 70px;
  display: flex;
  align-items: flex-end;
}

#logo 
{
  position: absolute;
  top: -4px;
  left: 0px;
}

nav 
{
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: baseline;
  width: 100%;
}

#inscription:nth-child(2) 
{
  order:1;
}

#inscription 
{
  height: 44px;
  margin-left: 20px;
}

#menu_heb 
{
  border-bottom: none;
  width: 200px;
  height: 50px;
  margin-top: 0px;
  padding-top: 20px;
  box-sizing: border-box;
}

#menu_act 
{
  border-bottom: none;
  width: 200px;
  height: 50px;
  margin-top: 0px;
  padding-top: 20px;
  box-sizing: border-box;
}

#menu_heb:hover, #menu_heb:active 
{
  border-top: 2px solid #0065FC;
  border-bottom: none;
  color: #0065FC;
  height: 52px;

}

#menu_act:hover, #menu_act:active 
{
  border-top: 2px solid #0065FC;
  border-bottom: none;
  color: #0065FC;
  height: 52px;
}

/* Formulaire */

#recherche 
{
  margin-top: -10px;
}

#geolocalisation 
{
}

button {
  width: 110px;
}

#hidden_text 
{
  display: inline;
  color: #fff;
  font-weight: bold;
  margin-left: -95px;
  height: 20px;
  margin-left: 0px;
}

button .fa-search 
{
  display: none; 
}

/* Filtres */


#section_filtres 
{
  display: flex;
  align-items: center;
}

#titre_filtre
{
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -15px;
  margin-top: -5px;
  height: 30px;
}


/* Hebergements */

#heb_pop 
{
  display: flex;
  flex-direction: row-reverse;
}

#fond_hebergement 
{
  background-color: #F2F2F2;
  border-radius: 20px;
  margin-right: 20px;
  margin-left: 20px;
  height: auto;
  width: 80%;
}


#fond_hebergement h2
{
  margin: 0;
  padding: 25px 0 0 28px;
} 

#all_vignettes_heb 
{
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  justify-content: space-between;
  padding: 0 10px;
}

.fond_vignette_heb 
{
  height: auto;
  width: 27%;
  box-shadow: 2px 2px 10px #a0a0a0;
  flex-grow: 1;
}

.fond_vignette_heb .avis
{
  margin-bottom: 10px;
}

.hebergements_ville 
{
  width: 97%;
  height: 140px;
  margin: 5px;
}

.description_vignette_heb p 
{
  margin-top: -15px;
}

.afficher_plus 
{
  padding-left: 30px;
}


/* Les plus populaires */

#fond_populaire 
{
  border-radius: 20px;
  padding-bottom: 20px;
  height: auto;
}

#titre_pop 
{
  height: 40px;
  padding: 20px 20px 0 20px;
}

#all_vignettes_pop 
{
  display: flex;
  flex-direction: column;
}

.fond_vignette_pop 
{
  width: 85%;
  height: 160px;
  box-shadow: 2px 2px 10px #a0a0a0;
  margin-top: 25px;
}

.hebergements_pop 
{
  margin: 5px;
  height: 150px;
  width: 150px;  
  object-fit: cover;
  float: left;
}

.description_vignette_pop 
{
  height: 160px;
  justify-content: space-around;
}

.description_vignette_pop h4
{
  margin-top: 0px;
  margin-bottom: 0px;
}

.description_vignette_pop p
{

    margin-top: -20px;
    margin-bottom: 0px;

}

/* Activites */

#all_vignettes_act 
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 560px;
  width: 100%;
  margin-left: 5px;
}

.fond_vignette_act_1 
{
  background-color: #fff;
  border: 0.5px solid #F2F2F2;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #F2F2F2;
  height: 470px;
  width: 23.2%;
  margin-right: 0px;
}

.fond_vignette_act_1 .activites_ville 
{
  border-radius: 10px 10px 0px 0px;
  margin: 0px;  
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.fond_vignette_act_2 
{
  background-color: #fff;
  border: 0.5px solid #F2F2F2;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #F2F2F2;
  height: 239px;
  width: 23.2%;
  margin-right: 0px;
}

.fond_vignette_act_2 .activites_ville 
{
  border-radius: 10px 10px 0px 0px;
  margin: 0px;  
  height: 168px;
  width: 100%;
  object-fit: cover;
}

.fond_vignette_act_3 
{
  background-color: #fff;
  border: 0.5px solid #F2F2F2;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #F2F2F2;
  height: 200px;
  width: 23.2%;
  margin-right: 0px;
}

.fond_vignette_act_3 .activites_ville 
{
  border-radius: 10px 10px 0px 0px;
  margin: 0px;  
  height: 130px;
  width: 100%;
  object-fit: cover;
}

/* PIED PAGE */

footer 
{
  display: flex;
}

.footer 
{
  margin-right: 220px;
}

}

/* Nouvelles règles si la fenêtre fait entre 768px et 991px de large */

@media screen and (min-width: 768px) and (max-width: 991px) 
{

/* Menu */

header 
{
  margin-bottom: 40px;
  margin-top: -20px;
  height: 60px;
}

#logo 
{
  position: absolute;
  top: -5px;
  left: 0px;
}

nav 
{
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: baseline;
  width: 100%;
}

#inscription:nth-child(2) 
{
  order:1;
}

#inscription 
{
  height: 40px;
  margin-top: 25px;
  padding-top: 20px;
  margin-left: 20px;
}

#menu_heb 
{
  border-bottom: none;
  width: 200px;
  height: 40px;
  margin-top: 0px;
  padding-top: 20px;
  box-sizing: border-box;
}

#menu_act 
{
  border-bottom: none;
  width: 200px;
  height: 40px;
  margin-top: 0px;
  padding-top: 20px;
  box-sizing: border-box;
}

#menu_heb:hover, #menu_heb:active 
{
  border-top: 2px solid #0065FC;
  border-bottom: none;
  color: #0065FC;
  height: 44px;
}

#menu_act:hover, #menu_act:active 
{
  border-top: 2px solid #0065FC;
  border-bottom: none;
  color: #0065FC;
  height: 44px;
}

.titre_page 
{
  margin-top: 50px;
}

/* Formulaire */

button 
{
  width: 110px;
}

#hidden_text 
{
  display: inline;
  color: #fff;
  font-weight: bold;
  margin-left: -95px;
  height: 20px;
  margin-left: 0px;
}

button .fa-search 
{
  display: none;
}

/* Les plus populaires */

#all_vignettes_pop 
{
  display: flex;
  padding-left: 5px;
  justify-content: space-between;
}

#fond_populaire 
{
  height: 400px;
}

.fond_vignette_pop 
{
  display: flex;
  flex-direction: column;
  height: 260px;
  width: 88%;
  margin-left: 10px;
}

.hebergements_pop 
{
  border-radius: 20px 20px 0px 0px;
  margin: 5px;  
  height: 55%;
  width: 95%;
  object-fit: cover;
}

.description_vignette_pop 
{
  height: auto;
  padding-left: 10px;
  margin-right: 5px;
}

.description_vignette_pop p 
{
  margin-top:-15px;
}

.description_vignette_pop h4 
{
  
}

/* Hébergements */


#fond_hebergement h2 
{
  margin-top: 30px;
  margin-bottom: 10px;
}

#all_vignettes_heb 
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fond_vignette_heb 
{
  height: 250px;
  width: 45%;
  box-shadow: 2px 2px 10px #a0a0a0;
  margin-bottom: 10px;
}

.hebergements_ville 
{
  border-radius: 20px 20px 0px 0px;
  margin: 5px;  
  height: 55%;
  width: 97%;
  object-fit: cover;
}

/* Activités */

#ancre_activite {
  padding-left: 20px;
  margin-top: 40px;
}

#all_vignettes_act 
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 480px;
  align-items: center;
  margin-top:-10px;
  padding-right: 20px;
  padding-left: 5px;
}

.fond_vignette_act_1 
{
  background-color: #fff;
  border: 0.5px solid #F2F2F2;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #F2F2F2;
  height: 200px;
  width: 30%;
  margin-right: 12px;
}

.fond_vignette_act_1 .activites_ville 
{
  border-radius: 10px 10px 0px 0px;
  margin: 0px;  
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.fond_vignette_act_2 
{
  background-color: #fff;
  border: 0.5px solid #F2F2F2;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #F2F2F2;
  height: 200px;
  width: 30%;
  margin-right: 12px;
}

.fond_vignette_act_2 .activites_ville 
{
  border-radius: 10px 10px 0px 0px;
  margin: 0px;  
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.fond_vignette_act_3 
{
  background-color: #fff;
  border: 0.5px solid #F2F2F2;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #F2F2F2;
  height: 200px;
  width: 30%;
  margin-right: 12px;
}

.fond_vignette_act_3 .activites_ville 
{
  border-radius: 10px 10px 0px 0px;
  margin: 0px;  
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.description_vignette_act p 
{
   font-size: 1em;
}

.description_vignette_act 
{
  height: 50px;
}

/* PIED PAGE */

footer 
{
  display: flex;
  margin-top: 0px;
}

.footer 
{
  margin-top: 0px;
  margin-right: 70px;
}

}



