/* GENERAL */

@font-face 
{
    font-family: 'raleway';
    src: url('font/raleway-bold.eot') format('eot'),
         url('font/raleway-bold.ttf') format('truetype'),
         url('font/raleway-bold.woff') format('woff'),
         url('font/raleway-bold.svg') format('svg');

         font-weight: bold;
}

@font-face 
{
      font-family: 'raleway';
      src: url('font/raleway.eot') format('eot'),
           url('font/raleway.ttf') format('truetype'),
           url('font/raleway.woff') format('woff'),
           url('font/raleway.svg') format('svg');

         font-weight: normal;
         font-style: normal;
         font-variant: normal;
}

body 
{
  font-family: 'raleway', Sans serif;
}

.avis 
{
  display: flex;
}
.avis_bleu 
{
  display: flex;
}

.avis_gris 
{
  display: flex;
}

.fa-star 
{
  color: #0065FC;
}

a 
{
  color: #000;
  text-decoration: none;
}

h4 
{
  font-size: 1.1em; 
}


/* EN-TETE */

header 
{
  width: 100%;
  height: 100px;
}

#logo 
{
  margin-right: 130px;
}

nav 
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#inscription 
{
  color: #0065FC;
  text-decoration: none;
}

#menu_heb 
{
  border-bottom: 3px solid #F2F2F2;
  width: 50%;
  height: 30px;
  text-align: center;
  margin-top: 20px;
}

#menu_act 
{
  border-bottom: 3px solid #F2F2F2;
  width: 50%;
  height: 30px;
  text-align: center;
  margin-top: 20px;
}

#navigation a 
{
  text-decoration: none ;
  color: #000;
}

#menu_heb:hover, #menu_heb:active 
{
  border-bottom: 3px solid #0065FC;
  color: #0065FC;
}

#menu_act:hover, #menu_act:active 
{
  border-bottom: 3px solid #0065FC;
  color: #0065FC;
}

/* CONTENU PAGE */

.titre_page p 
{
  margin-top: -5px;
  margin-bottom: 30px;
}

/* formulaire de recherhe */

#recherche 
{
  display: flex;
  margin-bottom: 40px;
}

#geolocalisation 
{
  background-color: #F2F2F2;
  height: 40px;
  width: 40px;
  border-radius: 8px 0 0 8px;
  text-align: center;
  line-height: 40px;
}


input[type=search]
{
  border-width: 0.2px 0 0.2px 0;
  border-color: #F2F2F2;
  font-family: inherit;
  font-weight: bold;
  color: #000;
  border-style: solid;
  height: 40px;
  text-align: center;
}

button 
{
  border: 0.5px solid #F2F2F2;
  border-radius: 0 8px 8px 0;
  background-color: #0065FC;
  font-family: inherit;
  font-weight: bold;
  color: #fff;
  height: 40px;
  width: 30px;
  margin: -5px;
}

#hidden_text 
{
  display: none
}
/* filtres */

#filtres 
{
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
}


.filtre_curseur 
{
  display: flex;
  margin-top: 10px;
  margin-right: 20px;
}

.bulle_filtre 
{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #DEEBFF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.form_filter 
{
  border: 1px solid #F2F2F2;
  border-radius: 40px;
  height: 38px;
  width: auto;
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 20px;
}

.form_filter:hover 
{
background-color: #0065FC;
color: #fff;
}

.name_filter 
{
  margin-left: 40px;
}

#filtres i 
{
  color: #0065FC;
}

.fa-info {
  color: #0065FC;
}

#informations 
{
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: center;
}

#icone_info 
{
  border: 0.5px solid #F2F2F2;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

/* section 1 Les plus populaires */

#titre_pop 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#fond_populaire 
{
  background-color: #F2F2F2;
  padding: 10px;
}

.fond_vignette_pop 
{ 
  background-color: #fff;
  border-radius: 10px;
  height: 200px;
  margin-bottom: 20px;
}

.hebergements_pop 
{
  border-radius: 10px 0px 0px 10px;
  margin: 10px;  
  height: 180px;
  width: 130px;
  object-fit: cover;
  float: left;
}

.description_vignette_pop 
{
  display: flex;
  flex-direction: column;
  height: 170px;
  padding-left: 10px;
  margin-right: 20px;
}

.description_vignette_pop p 
{
  margin-top:-5px;
}

.avis 
{
  padding-left: 10px;
}

.avis_gris .fa-star 
{
  color: #F2F2F2;
}

/* section 2 Hebergements */

#fond_hebergement 
{
  background-color: #fff;
  padding: 10px;
}

#fond_hebergement a 
{
  color:#000;
}

.fond_vignette_heb 
{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 0.5px solid #F2F2F2;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #F2F2F2;
  height: 250px;
  margin-bottom: 20px;
}

.hebergements_ville 
{
  border-radius: 10px 10px 0px 0px;
  margin: 0px;  
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.description_vignette_heb 
{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  margin-top: -18px;
}

.description_vignette_heb p 
{
  margin-top: -12px;
}


/* section 3 Activites */


#fond_activite 
{
  padding: 10px;
  margin-top: 10px;
}

.fond_vignette_act_1 
{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 0.5px solid #F2F2F2;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #F2F2F2;
  height: 250px;
  margin-bottom: 20px;
}

.fond_vignette_act_2 
{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 0.5px solid #F2F2F2;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #F2F2F2;
  height: 250px;
  margin-bottom: 20px;
}

.fond_vignette_act_3 
{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 0.5px solid #F2F2F2;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #F2F2F2;
  height: 250px;
  margin-bottom: 20px;
}

.activites_ville 
{
  border-radius: 10px 10px 0px 0px;
  margin: 0px;  
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.description_vignette_act 
{
  padding-left: 10px;
}

.description_vignette_act p 
{
  vertical-align: middle;
  display: table-cell;
  font-weight: bold;
  font-size: 1.1em;
}

.description_vignette_act 
{
  display: table;
  height: 70px;
}

/* PIED PAGE */

footer 
{
  background-color: #F2F2F2;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 30px;
}

.footer h3 
{
  padding-left: 10px;
}

.footer ul 
{
  margin-left: -30px;
}

.footer li 
{
	list-style: none;
  margin-bottom: 8px;
}

.footer li a 
{
  color: #000;
}

.footer 
{
  margin-top: 40px;
  margin-right: 20px;
}


/* Nouvelles règles si la fenêtre fait plus de 992px de large */

@media screen and (min-width: 992px)
{

/* Menu */

header 
{
  height: 50px;
  margin-bottom: 40px;
}

#logo 
{
  position: absolute;
  top: 20px;
  left: 10px;
}

nav 
{
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 100%;
}

#inscription:nth-child(2) 
{
  order:1;
}

#inscription 
{
  height: 40px;
  margin-top: 5px;
  padding-top: 20px;
}

#menu_heb 
{
  border-bottom: none;
  width: 200px;
  height: 40px;
  margin-top: 5px;
  padding-top: 20px;
}

#menu_act 
{
  border-bottom: none;
  width: 200px;
  height: 40px;
  margin-top: 5px;
  padding-top: 20px;
}

#menu_heb:hover, #menu_heb:active 
{
  border-top: 2px solid #0065FC;
  border-bottom: none;
  color: #0065FC;
}

#menu_act:hover, #menu_act:active 
{
  border-top: 2px solid #0065FC;
  border-bottom: none;
  color: #0065FC;
}

/* Formulaire */

#recherche 
{
  margin-top: -10px;
}

#geolocalisation 
{
}

button {
  width: 110px;
}

#hidden_text 
{
  display: inline;
  color: #fff;
  font-weight: bold;
  margin-left: -95px;
  height: 20px;
  margin-left: 0px;
}

button .fa-search 
{
  display: none; 
}

/* Filtres */


#section_filtres 
{
  display: flex;
  align-items: center;
}


/* Hebergements */

#heb_pop 
{
  display: flex;
  flex-direction: row-reverse;
}
#fond_hebergement 
{
  background-color: #F2F2F2;
  border-radius: 10px;
  margin-right: 20px;
  height: 700px;
  width: 70%;
  justify-content: center;
}

#fond_hebergement h2, a 
{
  margin-left: 20px;
}

#all_vignettes_heb 
{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.fond_vignette_heb 
{
  height: 260px;
  width: 31%;
  margin: 0 auto 40px;
  box-shadow: 2px 2px 10px #a0a0a0;
}

.hebergements_ville 
{
  width: 91%;
  height: 140px;
  margin: auto; 
}

.description_vignette_heb 
{
  margin-left: 3px;
  height: 80px;
}

.description_vignette_heb h4 
{
  margin-top: 5px;
}

.description_vignette_heb p 
{
  margin-top: -15px;
}

.avis {
  position: relative;
  top: -5px;
}


/* Les plus populaires */

#fond_populaire 
{
  border-radius: 10px;
  height: 700px;
}

#titre_pop 
{
  width: 95%;
  margin-left: 15px;
  margin-bottom: -15px;
}

.fond_vignette_pop 
{
  width: 95%;
  height: 178px;
  margin: 0 auto 20px;
  box-shadow: 2px 2px 10px #a0a0a0;
}

.hebergements_pop 
{
  margin: 10px;  
  height: 89%;
  object-fit: cover;
  float: left;
}

.description_vignette_pop 
{
  height: 145px;
}

/* Activites */


#all_vignettes_act 
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 500px;
  width: 100%;
  margin-left:-27px;
}

.fond_vignette_act_1 
{
  background-color: #fff;
  border: 0.5px solid #F2F2F2;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #F2F2F2;
  height: 470px;
  width: 24%;
  margin-right: 0px;
}

.fond_vignette_act_1 .activites_ville 
{
  border-radius: 10px 10px 0px 0px;
  margin: 0px;  
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.fond_vignette_act_2 
{
  background-color: #fff;
  border: 0.5px solid #F2F2F2;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #F2F2F2;
  height: 250px;
  width: 24%;
  margin-right: 0px;
}

.fond_vignette_act_2 .activites_ville 
{
  border-radius: 10px 10px 0px 0px;
  margin: 0px;  
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.fond_vignette_act_3 
{
  background-color: #fff;
  border: 0.5px solid #F2F2F2;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #F2F2F2;
  height: 200px;
  width: 24%;
  margin-right: 0px;

}

.fond_vignette_act_3 .activites_ville 
{
  border-radius: 10px 10px 0px 0px;
  margin: 0px;  
  height: 135px;
  width: 100%;
  object-fit: cover;
}

/* PIED PAGE */

footer 
{
  margin-top: 40px;
  display: flex;
}

.footer h3 
{
  padding-left: 28px;
}

.footer 
{
  margin-right: 60px;
}

}

/* Nouvelles règles si la fenêtre fait entre 768px et 991px de large */

@media screen and (min-width: 768px) and (max-width: 991px) 
{

/* Menu */

header 
{
  height: 50px;
  margin-bottom: 40px;
}

#logo 
{
  position: absolute;
  top: 20px;
  left: 10px;
}

nav 
{
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 100%;
}

#inscription:nth-child(2) 
{
  order:1;
}

#inscription 
{
  height: 40px;
  margin-top: 5px;
  padding-top: 20px;
}

#menu_heb 
{
  border-bottom: none;
  width: 200px;
  height: 40px;
  margin-top: 5px;
  padding-top: 20px;
}

#menu_act 
{
  border-bottom: none;
  width: 200px;
  height: 40px;
  margin-top: 5px;
  padding-top: 20px;
}

#menu_heb:hover, #menu_heb:active 
{
  border-top: 2px solid #0065FC;
  border-bottom: none;
  color: #0065FC;
}

#menu_act:hover, #menu_act:active 
{
  border-top: 2px solid #0065FC;
  border-bottom: none;
  color: #0065FC;
}

/* Formulaire */

button 
{
  width: 110px;
}

#hidden_text 
{
  display: inline;
  color: #fff;
  font-weight: bold;
  margin-left: -95px;
  height: 20px;
  margin-left: 0px;
}

button .fa-search 
{
  display: none;
}

/* Les plus populaires */

#all_vignettes_pop 
{
  display: flex;
  width: 98%;
}

.fond_vignette_pop 
{
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 93%;
  margin-left: 10px;
}

.hebergements_pop 
{
  border-radius: 10px 10px 0px 0px;
  margin: 5px;  
  height: 55%;
  width: 95%;
  object-fit: cover;
  float: left;
}

.description_vignette_pop 
{
  height: 78px;
  padding-left: 10px;
  margin-right: 5px;
}

.description_vignette_pop p 
{
  margin-top:-15px;
}

.description_vignette_pop h4 
{
  margin-top: -1px;
}

/* Hébergements */


#all_vignettes_heb 
{
  display: flex;
  flex-wrap: wrap;
}

.fond_vignette_heb 
{
  height: 250px;
  width: 30%;
  margin: 0 auto 40px;
  box-shadow: 2px 2px 10px #a0a0a0;
}

/* Activités */



#all_vignettes_act 
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 400px;
  width: 100%;
  margin-left: 8px;
}

.fond_vignette_act_1 
{
  background-color: #fff;
  border: 0.5px solid #F2F2F2;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #F2F2F2;
  height: 350px;
  width: 22.5%;
  margin-right: 12px;
}

.fond_vignette_act_1 .activites_ville 
{
  border-radius: 10px 10px 0px 0px;
  margin: 0px;  
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.fond_vignette_act_2 
{
  background-color: #fff;
  border: 0.5px solid #F2F2F2;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #F2F2F2;
  height: 180px;
  width: 22.5%;
  margin-right: 12px;
}

.fond_vignette_act_2 .activites_ville 
{
  border-radius: 10px 10px 0px 0px;
  margin: 0px;  
  height: 130px;
  width: 100%;
  object-fit: cover;
}

.fond_vignette_act_3 
{
  background-color: #fff;
  border: 0.5px solid #F2F2F2;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #F2F2F2;
  height: 150px;
  width: 22.5%;
  margin-right: 12px;
}

.fond_vignette_act_3 .activites_ville 
{
  border-radius: 10px 10px 0px 0px;
  margin: 0px;  
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.description_vignette_act p 
{
   font-size: 1em;
}

.description_vignette_act 
{
  height: 50px;
}

/* PIED PAGE */

footer 
{
  display: flex;
}

.footer 
{
  margin-top: 30px;
  margin-right: 70px;
}

}



