/* GENERAL */

@font-face {
    font-family: 'raleway-variableFont_wght';
    src: url('font/raleway-variableFont_wght.ttf') format('truetype');
}

body {
	font-family: 'raleway-variableFont_wght', Sans serif;
}

.avis {
  display: flex;
}

.fa-star {
  color: #0065FC;
}


/* EN-TETE */

#logo {
}

#en_tete {
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a{
  color: #0065FC;
  text-decoration: none;
}

#navigation {
  width: 100%;
  height: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
}

#navigation li a {
  text-decoration: none ;
  color: #000;
}

#navigation li a:hover, #navigation li a:active {
  border-bottom: 3px solid #0065FC;
  color: #0065FC;
}

#navigation li {
  display: inline;
  list-style: none;
  margin: 60px;
  border-bottom: 3px solid #F2F2F2;
}


/* CONTENU PAGE */

.titre_page p {
  margin-top: -15px;
  margin-bottom: 30px;
}


/* formulaire de recherhe */

#recherche {
  display: flex;
  margin-bottom: 40px;
}

#geolocalisation {
  background-color: #F2F2F2;
  height: 30px;
  width: 30px;
  border-radius: 8px 0 0 8px;
}

.fa-map-marker-alt {
  margin: 6px 9px;
}

input[type=search] {
  border-width: 0.2px 0 0.2px 0;
  border-color: #F2F2F2;
  font-family: inherit;
  height: 30px;
}

input[type=submit] {
  border: 0.5px solid #F2F2F2;
  border-radius: 0 8px 8px 0;
  background-color: #0065FC;
  font-family: inherit;
  font-weight: bold;
  color: #fff;
  height: 30px;
  margin: -5px;
}

/* filtres */

#filtres {
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
}

.filtre_curseur {
  display: flex;
  margin-top: 10px;
  margin-right: 10px;
}

.bulle_filtre {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #DEEBFF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.form_filter {
  border: 1px solid grey;
  border-radius: 40px;
  height: 38px;
  width: auto;
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 20px;
}

.name_filter {
  margin-left: 40px;
}

#filtres i {
  color: #0065FC;
}

.fa-info {
  color: #0065FC;
}

#informations {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: center;
}

#icone_info {
  border: 0.5px solid #F2F2F2;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

/* section 1 Les plus populaires */


#fond_populaire {
  background-color: #F2F2F2;
  padding: 10px;
}

.fond_vignette_pop { 
  background-color: #fff;
  border-radius: 10px;
  height: 200px;
  margin-bottom: 20px;
}

.fond_vignette_pop .avis {
  padding-left: 10px;
}

.hebergements_pop {
  border-radius: 10px 0px 0px 10px;
  margin: 10px;  
  height: 180px;
  width: 160px;
  object-fit: cover;
  float: left;
}

.description_vignette_pop {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.description_vignette_pop p {
  margin-top: 10px;
}

/* section 2 Hebergements */

#fond_hebergement {
  background-color: #fff;
  padding: 10px;
}

#fond_hebergement a {
  color:#000;
}

.fond_vignette_heb {
  background-color: #fff;
  border: 0.5px solid #F2F2F2;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #F2F2F2;
  height: 250px;
  margin-bottom: 20px;
}

.hebergements_ville {
  border-radius: 10px 10px 0px 0px;
  margin: 0px;  
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.description_vignette_heb {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  margin-top: -15px;
}

.description_vignette_heb p {
  margin-top: -12px;
}


/* section 3 Activites */


#fond_activite {
  background-color: #fff;
  padding: 10px;
  margin-top: 10px;
}

.fond_vignette_act_1 {
  background-color: #fff;
  border: 0.5px solid #F2F2F2;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #F2F2F2;
  height: 250px;
  margin-bottom: 20px;
}

.fond_vignette_act_2 {
  background-color: #fff;
  border: 0.5px solid #F2F2F2;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #F2F2F2;
  height: 250px;
  margin-bottom: 20px;
}

.fond_vignette_act_3 {
  background-color: #fff;
  border: 0.5px solid #F2F2F2;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #F2F2F2;
  height: 250px;
  margin-bottom: 20px;
}

.activites_ville {
  border-radius: 10px 10px 0px 0px;
  margin: 0px;  
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.description_vignette_act {
  padding-left: 10px;
}



/* PIED PAGE */

footer {
  background-color: #F2F2F2;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 30px;
}

.footer h3 {
  padding-left: 10px;
}

.footer ul {
  margin-left: -30px;
}

.footer li {
	list-style: none;
  margin-bottom: 8px;
}

.footer li a {
  color: #000;
}

.footer {
  margin-top: 40px;
  margin-right: 20px;
}


/* Nouvelles règles si la fenêtre fait plus de 992px de large */

@media screen and (min-width: 992px){

/* Hebergements */

#heb_pop {
  display: flex;
  flex-direction: row-reverse;
}
#fond_hebergement {
  background-color: #F2F2F2;
  border-radius: 10px;
  margin-right: 20px;
  height: 680px;
  width: 70%;
  justify-content: center;
}

#fond_hebergement h2, a {
  margin-left: 20px;
}

#all_vignettes_heb {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.fond_vignette_heb {
  height: 250px;
  width: 30%;
  margin: 0 auto 20px;
  box-shadow: 2px 2px 10px #a0a0a0;
}

.hebergements_ville {
  width: 93%;
  height: 140px;
  margin: 10px 10px; 
}

.description_vignette_heb {
  margin-top: -25px;
  margin-left: 3px;
}

/* Les plus populaires */

#fond_populaire {
  border-radius: 10px;
}

.fond_vignette_pop {
  width: 95%;
  height: 178px;
  margin: 0 auto 20px;
  box-shadow: 2px 2px 10px #a0a0a0;
}

.hebergements_pop {
  margin: 10px;  
  height: 89%;
  width: 160px;
  object-fit: cover;
  float: left;
}

/* Activites */


#fond_activite h2 {
  margin-left: 20px;
}

#all_vignettes_act {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 450px;
  margin: 10px;
}

.fond_vignette_act_1 {
  background-color: #fff;
  border: 0.5px solid #F2F2F2;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #F2F2F2;
  height: 420px;
  width: 20%;
}

.fond_vignette_act_1 .activites_ville {
  border-radius: 10px 10px 0px 0px;
  margin: 0px;  
  height: 360px;
  width: 100%;
  object-fit: cover;
}

.fond_vignette_act_2 {
  background-color: #fff;
  border: 0.5px solid #F2F2F2;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #F2F2F2;
  height: 220px;
  width: 20%;
}

.fond_vignette_act_2 .activites_ville {
  border-radius: 10px 10px 0px 0px;
  margin: 0px;  
  height: 160px;
  width: 100%;
  object-fit: cover;
}

.fond_vignette_act_3 {
  background-color: #fff;
  border: 0.5px solid #F2F2F2;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #F2F2F2;
  height: 180px;
  width: 20%;
}

.fond_vignette_act_3 .activites_ville {
  border-radius: 10px 10px 0px 0px;
  margin: 0px;  
  height: 120px;
  width: 100%;
  object-fit: cover;
}



/* PIED PAGE */

footer {
  margin-top: 40px;
  display: flex;
}

.footer ul {
  margin-left: -50px;
}

.footer li {
  list-style: none;
  margin-bottom: 8px;
}

.footer li a {
  color: #000;
}

.footer {
  margin-right: 100px;
}

}

